{% from '../macros/icon.twig' import icon %}

<footer class="footer">
	<div class="container">
			<div class="footer__holder">
				<div class="footer__col footer__logo">
					<a href="index.html">
						<img src="assets/images/logo.png" alt="Logo">
						<span>
							Логистические <br>инновации
						</span>
					</a>
					<div class="footer__copyright">
						2021 © ЛогИнновации <br>
						Разработано 
						<a href="#" target="_blank" rel="noopener noreferrer">WSP-studio</a>
					</div>
				</div>
				<nav class="footer__col footer-main-nav">
					<ul>
						{% for item in navigation %}
							{% if item.children|default(false) and item.children|length %}
								<li class="has-children dropdown" data-plugin="dropdown">
									<span>
										<a href="#">{{ item.title }}</a>
										<a href="#submenu" data-dropdown-btn class="dropdown-trigger">&nbsp;</a>
									</span>
									<div class="sub-nav dropdown-content" data-dropdown-content="submenu">
										<ul>
											{% for item in item.children %}
												<li><a href="{{ item.url }}">{{ item.title }}</a></li>
											{% endfor %}
										</ul>
									</div>
								</li>
							{% else %}
								<li><a href="{{ item.url }}">{{ item.title }}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</nav>
				<nav class="footer-sub-nav footer__col">
					{% for item in navigation %}
						{% if item.children|default(false) and item.children|length %}
						<ul>
							{% for item in item.children %}
								<li><a href="{{ item.url }}">{{ item.title }}</a></li>
							{% endfor %}
						</ul>
						{% endif %}
					{% endfor %}
				</nav>
				<div class="footer__col">
					<div>
						<div class="schedule">
							<span>
								{{ icon('time-fill' , {'width': 17, 'height': 17}) }}
							</span>
							<b>
								Пн-пт   <br>  
								Сб-вс      
							</b>
							10:00 - 18:00 <br>
							выходные дни
						</div>
						<div class="address">
							<span>
								{{ icon('map-pin-2-fill' , {'width': 16, 'height': 16}) }}
							</span>
							Екатеринбург, <br>
							ул. Ленина, 57, оф. 301
						</div>
					</div>
					<a href="#" class="footer__politics">Политика конфиденциальности</a>
				</div>
				<div class="footer__col">
					<div>
						<div class="phone">
							<span>
								{{ icon('phone-fill' , {'width': 17, 'height': 17}) }}
							</span>
							<a href="tel:+79059595533">8 (905) 959-55-33</a>
						</div>
						<div class="mail">
							<span>
								{{ icon('mail-fill' , {'width': 17, 'height': 17}) }}
							</span>
							<a href="mailto:info@log-innovation.ru">info@log-innovation.ru</a>
						</div>
					</div>
					<a href="#" class="footer__site-map">Карта сайта</a>
				</div>

				<div class="footer__mobile">
					<a href="#" class="footer__politics">Политика конфиденциальности</a>
					<a href="#" class="footer__site-map">Карта сайта</a>
					<div class="footer__copyright">
						2021 © ЛогИнновации <br>
						Разработано <a href="#" target="_blank" rel="noopener noreferrer">WSP-studio</a>
					</div>
				</div>
			</div>
	</div>
</footer>
