{% from '../macros/icon.twig' import icon %}

<header class="header header_sticky {{ headerAttrs.class|default('') }}">
	<div class="outer-container">
			<div class="header__holder">
				<a href="index.html" class="header__logo">
					<img src="assets/images/logo.png" alt="Logo">
					<span>
						Логистические <br>инновации
					</span>
				</a>
				<nav class="main-nav">
					<ul>
						{% for item in navigation %}
							{% if item.children|default(false) and item.children|length %}
								<li class="has-children">
									<a href="{{ item.url }}">{{ item.title }}</a>
									<div class="sub-nav">
										<ul>
											{% for item in item.children %}
												<li><a href="{{ item.url }}">{{ item.title }}</a></li>
											{% endfor %}
										</ul>
									</div>
								</li>
							{% else %}
								<li>
									{% if curPageId == item.pageId %}
										<span class="active">{{ item.title }}</span>
									{% else %}
										<a href="{{ item.url }}">{{ item.title }}</a>
									{% endif %}
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</nav>
				<div class="header__request">
					<a href="#" class="btn btn-light side-modal-trigger" data-src="#dialog-content">Оставить заявку</a>
				</div> 
				<div class="address">
					<span>
						{{ icon('map-pin-2-fill' , {'width': 16, 'height': 16}) }}
					</span>
					Екатеринбург, <br>
					ул. Ленина, 57, оф. 301
				</div>
				<div class="schedule">
					<span>
						{{ icon('time-fill' , {'width': 17, 'height': 17}) }}
					</span>
					<b>
						Пн-пт   <br>  
						Сб-вс      
					</b>
					10:00 - 18:00 <br>
					выходные дни
				</div>
				<div class="header__contacts">
					<div class="mail">
						<span>
							{{ icon('mail-fill' , {'width': 17, 'height': 17}) }}
						</span>
						<a href="mailto:info@log-innovation.ru">info@log-innovation.ru</a>
					</div>
					<div class="phone">
						<span>
							{{ icon('phone-fill' , {'width': 17, 'height': 17}) }}
						</span>
						<a href="tel:+79059595533">8 (905) 959-55-33</a>
					</div>
				</div>
				<a href="#" class="ham-trigger">&nbsp;</a>
			</div>
	</div>
</header>

